/* SLIDER */
#slider{
    position: relative;
    height: 20rem;
    z-index: 0;
    background-color: black;
}
#about{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 3rem;
    width: 22rem;
}
#writer{
    color: white;
    min-height: 1rem;
}
#h1Writer{
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    border-right: 0.1rem solid white;
    border-bottom: 0.5rem solid rgba(161, 51, 51, 0.3);
    text-shadow: 0.0 -0.3rem 0.5rem rgba(0,0,0,0.8);
    animation:
        blink-border .75s step-end infinite
}
#caption{
    margin-top: -1rem;
    min-height: 2rem;
    color:white;
    text-align: right;
    vertical-align: middle;
    word-wrap: none;
    border:none;
    animation:
        blink-border .75s step-end infinite
}
@keyframes blink-border{
    from, to {border-right-color: transparent }
    50% { border-right-color: white;}
}
#btnContact{
    cursor: pointer;
    border: none;
    bottom: 0;
    color: white;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    box-shadow: 0.0 -0.3rem 0.5rem rgba(0,0,0,0.8);
    background-color: rgba(161, 51, 51, 0.3);
}
#btnContact:hover{    
    background-color: rgba(161, 51, 51, 0.9);
}
#btnContact:focus{
    outline: none;

}
#btnContact::after{
    border: none;
}
.slide{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    cursor: pointer;
}
#inkBar{
    width: 80%;
    margin: -2rem auto 0;
}
#inkBar>#ctrlSlide{
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#inkBar>#ctrlSlide>.ctrlSlide{
    width: 0.5rem;
    height: 1rem;
    border-radius: 5rem;
    cursor: pointer;
    background-color: rgba(161, 51, 51, 0.3);
    box-shadow: black 0.0rem 0.1rem 0.3rem;
}
#inkBar>#ctrlSlide>.ctrlSlide:hover{
    background-color: rgba(161, 51, 51, 0.9);
    transform: scale(1.2);
}
#passIt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    width: 100%;
    height: 2.8rem;
    margin-top: -2rem;
}
#passIt>div{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin: auto 1rem;
    border-top: rgba(161, 51, 51, 0.3) solid 0.1rem;
}
#header:hover #passIt>.left,
#header:hover #passIt>.right
{
    border-color: rgba(161, 51, 51, 0.9);
}
#header:hover #inkBar>#ctrlSlide>.ctrlSlide{
    background-color: rgba(161, 51, 51, 0.9);
}
#passIt>div:hover{
    border-color: rgba(161, 51, 51, 0.9);
    width: 2.2rem;
    height: 2.2rem;

}
.left{
    border-left: rgba(161, 51, 51, 0.3) solid 0.1rem;
    transform: rotate(-45deg);
}
.right{
    border-right: rgba(161, 51, 51, 0.3) solid 0.1rem;
    transform: rotate(45deg);
}
#passIt>.left:hover{
    border-color: rgba(161, 51, 51, 0.9);

}
#passIt>.right:hover{
    border-color: rgba(161, 51, 51, 0.9);

}